*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* hover me transition */
/* cutomizing transitions on heading*/
/* transition property and transition durtion instead of transition*/
.heading{
    color: darkblue;
    font-size: 15px;
    /* transition: all 0.5s; */
    transition-property: font-size;
    transition-duration: 0.5s;
    /* transition-delay: 1s; */
    transition-timing-function: ease-in;
    /*transition short hand --->
    transition: property duration timing delay;
    transition: font-size 0.5s ease-in 1s
    --helps with browser compatibility--
    */
}
.heading:hover{
    color: green;
    font-size: 20px;
}
/*transition heading ends*/
/*box animations-creation of animations
-->from and to instead of percentages
-->add animation timings : name,duration,..animation-delay,aniamtion-iteration-count
-->timing,direction etc : timingfn,direction property,animation-fill-mode--->after animation is completed what to do depends on other ppties 
*/
.box{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    animation-name: grow;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: reverse;

    animation-fill-mode: both;
    /*
    animation: name,durtion,timingfn,delay,iterationcount,direction;
    aniamtion: grow 2s ease 1s 1 reverse;
    fillmode should be added on top of short hand..
    */
}
@keyframes grow{
    0%{
        width: 50px;
        height: 50px;
        background-color: red;
    }
    50%{
        width: 100px;
        height: 50px;
        background-color: blue;
    }
    100%{
        width: 50px;
        height: 100px;
        background-color: green;
    }
}
/*box animation ends*/
/*effects--> transitions and other methods
transform: scale,translate
*/
.box2{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes transform{
    100%{
        /* transform: scale(2,0.5); */
        /*scaleX(),scaleY()*/
        /*transform: translate(-10%,50%); */
        /* transform: translate(50%,25%); */
        /* transform: rotate(180deg); */
        transform: skewY(50deg);
        /* skew(x,y) */
        /* shortcut---> transform: scale() rotate() translate(); */
    }
}
/*methods end*/
/*prefixes*/
/* -webkit-animation: :tablet,chrome
--ms-animation-ie,microsoft,-moz-animatiom,-o-animation-opera-->for browser compatibility 
*/
/* css variables 
:root{
    --box-unit: 50px;
    --main-color: #290000;
}
assignments --> width: var(--box-unit),background-color: var(--main-color);
*/
/* custom timing functions cubic-bezier */

/****** ends******/

